[mysqld]
skip-name-resolve
explicit_defaults_for_timestamp
port=3306
max_connections=353
max_allowed_packet=16M
bind-address=0.0.0.0
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

[client]
port=3306
default-character-set=utf8mb4

[manager]
port=3306

[mariadb]
# Log General
general_log = 1
general_log_file = /var/log/mysql/mysql_general.log

# Log Error
log_error = /var/log/mysql/mysql_error.log

# Log Slow
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql_slow_query.log
long_query_time = 0  # 0 has the effect of logging all queries
log_queries_not_using_indexes = 1

